* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    color: #3a3a3a;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.login-container {
    width:80%;
    margin:auto;
    overflow:hidden;
}

@media screen and (min-width: 500px) {
    .login-container {
        max-width: 500px;
        margin: auto;
    }
}




ul{
    margin:0;
    padding:0;
}

header {
    background: #3a3a3a;
    color: #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: #000 0 .1px 8px;
}

header a{
    text-decoration:none;
    font-size:16px;
    color: #ddd;
    font-weight: 600;
    padding: 16px;
}
  
header li{
    display:inline;
    padding: 0 20px 0 20px;
}
  
header #brand{
    float:left;
}
  
header #brand h1{
    margin:0;
}
  
header nav{
    float:right;
    margin-top:10px;
}
  
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 4px 4px 4px 4px;
}

button:hover {
    opacity:1;
}



.row:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    width: 100%;
}

.right {
    width: 100%;
}

.column {
    min-height: 1px;
    padding: 15px;
}

@media only screen and (min-width: 800px) {

    .column {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
      
    .left {
        width: 25%;
    }

    .acc-left {
        width: 15%;
    }
    
    .right {
        width: 75%;
    }

    .acc-right {
        width: 85%;
    }
}

.left-content{
    padding: 15px;
}

ul.accounts .list-header {
    background: #3a3a3a;
    color: white;
    font-weight: 600;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
ul.accounts li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    font-weight: 600;
}

ul.accounts a, ul.transaction-list a, ul.accounts-list li {
    text-decoration: none;
}

ul.transaction-list li, ul.accounts-list li {
    
    margin-top: -1px;
    padding: 4px;
    
}

ul.transaction-list li .card, ul.accounts-list li.card {
    padding: 8px;
}
.tr-type-green {
    color: green;
    font-size: 18pt;
}

.tr-type-red {
    color: red;
    font-size: 18pt;   
}
.rounded {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    background: #1faa00;
    overflow: hidden;
}

#profile h4, .accounts h4, .accounts h3 {
    margin: 0;
} 

.acc-right {
    padding-top: 16px;
}

.btn-action {
    background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.9;
}

.btn-action:hover {
    opacity: 1;
}

/* login */

#welcome {
    background: #64dd17;
    display: block;
    padding: 48px;
    color: #ffffff;
    text-align: center;
}

#welcome h1 {
    margin: 0;
    color: #ddd;
}

.btn-cta {
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    border-radius: 4px 4px 4px 4px;
}

.btn-cta.get-started {
    background-color: #ff9e40;
    color: #ddd;
}

.btn-cta.signin {
    background-color: #4CAF50;
    color: #fff;
    
}

.btn-cta:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

div.card {
    width: 100%;
    box-shadow: 0 .2px 4px 0 #ddd, 0 .6px .20px 0 #ddd;
    border-radius: 4px 4px 4px 4px;
}

.card .content {
    padding: 15px;
}

.card img {
    padding: 4px;
    margin: 16px;
}

.card #account-info {
    padding: 16px;
}
  

div.card-header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
}

div.card-container {
    padding: 10px;
}

.form .field {
    margin-bottom: 15px;
}

.form .element, 
input[type=text], 
input[type=password], 
textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: none;
    background: #c4f7a0;
    border-radius: 4px;
}



.search {
    margin: 12px 0px;
}

.transaction-list .card {
    background-color: #fff;
    transition: background-color ease-in-out .80s;
}
.transaction-list .card:hover,
.accounts-list .card:hover {
    background-color: #c4f7a0;
    cursor: pointer;
}